@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ededed;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --animate-float: float 3s ease-in-out infinite;
  @keyframes float {
    0% {
      transform: translateY(0.5rem)
    }
    50% {
      transform: translateY(-0.5rem)
    }
    100% {
      transform: translateY(0.5rem)
    }
  }
}

@media (min-width: 768px) {
  .edge {
    padding-left: calc(var(--spacing) * 40);
    padding-right: calc(var(--spacing) * 40);
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
  }
  
  .h2-default {
    font-size: 2.25rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 40);
  }
  
  .h2-no-colour {
    font-size: 2.25rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }
  
  .h3-default {
    font-size: 1.5rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 40);
  }
  
  .h3-no-colour {
    font-size: 1.5rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }
  
  .p-default {
    font-family: 'Inter', sans-serif;
    color: rgb(30, 30, 30);
    font-size: 1rem;
  }
  
  .p-no-colour {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .edge {
    padding-left: calc(var(--spacing) * 5);
    padding-right: calc(var(--spacing) * 5);
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
  }
  
  .h2-default {
    font-size: 2.25rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 40);
  }
  
  .h2-no-colour {
    font-size: 2.25rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }
  
  .h3-default {
    font-size: 1.5rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 40);
  }
  
  .h3-no-colour {
    font-size: 1.5rem;
    margin-top: calc(var(--spacing) * 3);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }
  
  .p-default {
    font-family: 'Inter', sans-serif;
    color: rgb(30, 30, 30);
    font-size: 1rem;
  }
  
  .p-no-colour {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
  }
}