@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
}

.h2-default {
  font-size: 2.25rem;
  margin-top: calc(var(--spacing) * 3);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 20);
}

.h2-no-colour {
  font-size: 2.25rem;
  margin-top: calc(var(--spacing) * 3);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.h3-default {
  font-size: 1.5rem;
  margin-top: calc(var(--spacing) * 3);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 20);
}

.h3-no-colour {
  font-size: 1.5rem;
  margin-top: calc(var(--spacing) * 3);
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.p-default {
  font-family: 'Inter', sans-serif;
  color: rgb(54, 54, 54);
  font-size: 1rem;
}

.p-no-colour {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}